[Descrizione](https://www.notion.so/enzoschitini/Raccolta-di-progetti-sviluppati-per-GitHub-0363c6c2924d4fdb8591f31e47b4011a?p=b0b8a41c28934d508cd8d4066d856989&pm=c) | [Compiti](https://www.notion.so/enzoschitini/540bfbb6b9724d6099f15849a9249fea?v=6ce952c45e874c09a7962fb24f9a9497)

# An√°lise Explorat√≥ria
Na minha opini√£o, a an√°lise explorat√≥ria √© uma das fases mais importantes de qualquer projeto que lide com dados. Aqui o objetivo √© entender o contexto em que trabalharemos e como s√£o os dados que temos que explorar, para termos toda uma documenta√ß√£o que precisaremos para criar os pr√≥ximos algoritmos, mesmo os de Machine Learning. Acredito que mesmo nesta fase j√° podemos encontrar alguns Insights.

<img src="https://raw.githubusercontent.com/enzoschitini/Data-Science-Portfolio/main/01%20An%C3%A1lise%20explorat%C3%B3ria%20e%20limpeza%20de%20dados/E-commerce%20Customer%20Data%20For%20Behavior%20Analysis/Image/Copertina.png" alt="ebac-logo">

---

# **Scituffy** | Python: Brazilian E-Commerce Public Dataset by Olist
Fiz uma an√°lise das vendas de um E-Commerce para entender melhor como s√£o seus clientes. O conjunto de dados cont√©m informa√ß√µes sobre 100.000 pedidos de 2016 a 2018 feitos em v√°rios mercados no Brasil. Seus recursos permitem visualizar um pedido em m√∫ltiplas dimens√µes: desde status do pedido, pre√ßo, desempenho de pagamento e transporte, localiza√ß√£o do cliente, atributos do produto e, finalmente, avalia√ß√µes escritas pelos clientes

**Data Science** Portf√≥li | *05 Abril 2024*

[Enzo Schitini](https://www.linkedin.com/in/enzoschitini/) - Data Scientist ‚Ä¢ Expert Bubble.io ‚Ä¢ UX & UI @ Nugus creator

---

## O que voc√™ vai encontrar neste notebook? üëã

A ci√™ncia sempre me fascinou pelo fato de podermos descobrir coisas novas. E foi por essa vontade de fazer descobertas que me tornei Data Scientist, para resolver problemas reais e fazer as tais descobertas.

#### - *Contexto os dados*
Este conjunto de dados foi generosamente cedido pela Olist, o maior armaz√©m do mercado brasileiro. Olist conecta pequenas empresas de todo o Brasil a canais de forma integrada e com um √∫nico contrato. Esses comerciantes podem vender seus produtos atrav√©s da Olist Store e envi√°-los diretamente aos clientes usando os parceiros log√≠sticos da Olist. Para saber mais, visite nosso site:¬†[www.olist.com](https://www.olist.com/)

Depois que um cliente compra o produto na Olist Store, o vendedor recebe uma notifica√ß√£o para atender o pedido. Assim que o cliente recebe o produto, ou vence a data estimada de entrega, o cliente recebe por e-mail uma pesquisa de satisfa√ß√£o onde pode dar uma nota sobre a experi√™ncia de compra e escrever alguns coment√°rios.

Este √© um conjunto de dados p√∫blicos de com√©rcio eletr√¥nico brasileiro de pedidos feitos na¬†Olist Store. O conjunto de dados cont√©m informa√ß√µes sobre 100.000 pedidos de 2016 a 2018 feitos em v√°rios mercados no Brasil. Seus recursos permitem visualizar um pedido em m√∫ltiplas dimens√µes: desde status do pedido, pre√ßo, desempenho de pagamento e transporte, localiza√ß√£o do cliente, atributos do produto e, finalmente, avalia√ß√µes escritas pelos clientes. Tamb√©m publicamos um conjunto de dados de geolocaliza√ß√£o que correlaciona c√≥digos postais brasileiros com coordenadas lat/lng.

#### - *Estrutura dos dados*

<img src="https://raw.githubusercontent.com/enzoschitini/Data-Science-Portfolio/main/01%20An%C3%A1lise%20explorat%C3%B3ria%20e%20limpeza%20de%20dados/E-commerce%20Customer%20Data%20For%20Behavior%20Analysis/Image/Schema.png" alt="ebac-logo">

### Din√¢mica dos dados

# ...

> Os dados foram fornecidos pelo [Kaggle](https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce)

## üî• Vamos come√ßar!!!

### **`T√≥picos`**

<ol type="1">
  <li>Prepara√ß√£o o ambiente de desenvolvimento</li>
  <li>Entender a estruturas de dados e colunas (Tratamento)</li>
  <li>Visualiza√ß√£o</li>
  <li>M√©tricas</li>
  <li>Conclus√£o e hip√≥tese</li>
</ol>

##### Abaixo voc√™ encontrar√° algumas insights e c√≥digos sobre esses dados. Mas se quiser acessar um material somente com os insights, baixe o [PDF](https://drive.google.com/file/d/1fK1ocDTSzMpDhKy8jJ1yU3LN1Tm-gxcV/view?usp=drivesdk)

---

<a id='prepara√ß√£o-o-ambiente-de-desenvolvimento'></a>
## Prepara√ß√£o o ambiente de desenvolvimento

### Importando os pacotes

In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

from main import GuidaDataframe

### Carregando os Data sets

In [42]:
lista_datasets = ['olist_customers_dataset.csv', 'olist_geolocation_dataset.csv','olist_order_items_dataset.csv', 
         'olist_order_payments_dataset.csv', 'olist_order_reviews_dataset.csv', 'olist_orders_dataset.csv', 
         'olist_products_dataset.csv', 'olist_sellers_dataset.csv', 'product_category_name_translation.csv']

# Adicionando todos os conjuntos de dados em uma lista
dfs = [pd.read_csv(f'Data\{x}') for x in lista_datasets] 
print(f"Temos {len(lista_datasets)} data sets dentro da vari√°vel 'dfs'.")

Temos 9 data sets dentro da vari√°vel 'dfs'.

Neste projeto temos 9 conjuntos de dados vinculados por `ID`. Por uma quest√£o de organiza√ß√£o, vamos coloc√°-los em uma lista, tamb√©m para facilitar o acesso a esses dados em branco.

- `Informa√ß√µes sobre os data sets:`

| Nome da vari√°vel  | Descri√ß√£o |
| ------- | --------- |
| dfs[0] | conjunto de dados dos clientes |
| dfs[1] | conjunto de dados de geolocaliza√ß√£o |
| dfs[2] | conjunto de dados de itens de pedido |
| dfs[3] | conjunto de dados de pagamentos de pedidos |
| dfs[4] | conjunto de dados de an√°lises de pedidos |
| dfs[5] | conjunto de dados de pedidos |
| dfs[6] | conjunto de dados de produtos |
| dfs[7] | conjunto de dados de vendedores |
| dfs[8] | tradu√ß√£o do nome da categoria do produto |

### Usamos map() para aplicar a fun√ß√£o a cada DataFrame

In [43]:
#_ = list(map(lambda x: display(x.head(n=5)), dfs))

## Entender a estruturas de dados e colunas (Tratamento)

Entender a estrutura dos dados significa saber quantas Linhas e Colunas existem, se h√° dados duplicados ou n√£o, o Nome das colunas, seu Tipo, sua quantidade de categorias, quantos dados nulos e a porcentagem deles.

### Remover duplicados

In [44]:
for x in dfs:
    x.drop_duplicates(inplace=True)

### Estrutura das colunas
Agora vamos ver com mais detalhes como √© a estrutura das colunas usando a fun√ß√£o `esplorazione()` do pacote `main.py`

In [48]:
# uidaDataframe fun√ß√£o no pacote main.py
ordem_data = 0
for data_set in lista_datasets:
    print(f'Informa√ß√µes sobre ----- {data_set} -----')
    print(f'dfs[{ordem_data}]\n')
    display(GuidaDataframe(dfs[ordem_data]).esplorazione())
    ordem_data += 1

Informa√ß√µes sobre ----- olist_customers_dataset.csv -----
dfs[0]

Tabela Explorat√≥ria
Nesses dados temos 99.441 linhas e 5 colunas.
Consumo de mem√≥ria: 29.62Mb.

,Nome,Tipo,qnt_categorias,Dados nulos,Dados nulos %,Mem√≥ria (Mb)
1,customer_id,str,99441,0,0.0,8.0
2,customer_unique_id,str,96096,0,0.0,8.0
3,customer_zip_code_prefix,numpy.int64,14994,0,0.0,1.0
4,customer_city,str,4119,0,0.0,6.0
5,customer_state,str,27,0,0.0,6.0

Informa√ß√µes sobre ----- olist_geolocation_dataset.csv -----
dfs[1]

Tabela Explorat√≥ria
Nesses dados temos 738.332 linhas e 5 colunas.
Consumo de mem√≥ria: 129.91Mb.

,Nome,Tipo,qnt_categorias,Dados nulos,Dados nulos %,Mem√≥ria (Mb)
1,geolocation_zip_code_prefix,numpy.int64,19015,0,0.0,6.0
2,geolocation_lat,numpy.float64,717360,0,0.0,6.0
3,geolocation_lng,numpy.float64,717613,0,0.0,6.0
4,geolocation_city,str,8011,0,0.0,50.0
5,geolocation_state,str,27,0,0.0,42.0

Informa√ß√µes sobre ----- olist_order_items_dataset.csv -----
dfs[2]

Tabela Explorat√≥ria
Nesses dados temos 112.650 linhas e 7 colunas.
Consumo de mem√≥ria: 39.43Mb.

,Nome,Tipo,qnt_categorias,Dados nulos,Dados nulos %,Mem√≥ria (Mb)
1,order_id,str,98666,0,0.0,10.0
2,order_item_id,numpy.int64,21,0,0.0,1.0
3,product_id,str,32951,0,0.0,10.0
4,seller_id,str,3095,0,0.0,10.0
5,shipping_limit_date,str,93318,0,0.0,8.0
6,price,numpy.float64,5968,0,0.0,1.0
7,freight_value,numpy.float64,6999,0,0.0,1.0

Informa√ß√µes sobre ----- olist_order_payments_dataset.csv -----
dfs[3]

Tabela Explorat√≥ria
Nesses dados temos 103.886 linhas e 5 colunas.
Consumo de mem√≥ria: 17.81Mb.

,Nome,Tipo,qnt_categorias,Dados nulos,Dados nulos %,Mem√≥ria (Mb)
1,order_id,str,99440,0,0.0,9.0
2,payment_sequential,numpy.int64,29,0,0.0,1.0
3,payment_type,str,5,0,0.0,7.0
4,payment_installments,numpy.int64,24,0,0.0,1.0
5,payment_value,numpy.float64,29077,0,0.0,1.0

Informa√ß√µes sobre ----- olist_order_reviews_dataset.csv -----
dfs[4]

Tabela Explorat√≥ria
Nesses dados temos 99.224 linhas e 7 colunas.
Consumo de mem√≥ria: 42.75Mb.

,Nome,Tipo,qnt_categorias,Dados nulos,Dados nulos %,Mem√≥ria (Mb)
1,review_id,str,98410,0,0.0,8.0
2,order_id,str,98673,0,0.0,8.0
3,review_score,numpy.int64,5,0,0.0,1.0
4,review_comment_title,float,4527,87656,88.0,3.0
5,review_comment_message,float,36159,58247,59.0,7.0
6,review_creation_date,str,636,0,0.0,7.0
7,review_answer_timestamp,str,98248,0,0.0,7.0

Informa√ß√µes sobre ----- olist_orders_dataset.csv -----
dfs[5]

Tabela Explorat√≥ria
Nesses dados temos 99.441 linhas e 8 colunas.
Consumo de mem√≥ria: 58.97Mb.

,Nome,Tipo,qnt_categorias,Dados nulos,Dados nulos %,Mem√≥ria (Mb)
1,order_id,str,99441,0,0.0,8.0
2,customer_id,str,99441,0,0.0,8.0
3,order_status,str,8,0,0.0,6.0
4,order_purchase_timestamp,str,98875,0,0.0,7.0
5,order_approved_at,str,90733,160,0.0,7.0
6,order_delivered_carrier_date,str,81018,1783,2.0,7.0
7,order_delivered_customer_date,str,95664,2965,3.0,7.0
8,order_estimated_delivery_date,str,459,0,0.0,7.0

Informa√ß√µes sobre ----- olist_products_dataset.csv -----
dfs[6]

Tabela Explorat√≥ria
Nesses dados temos 32.951 linhas e 9 colunas.
Consumo de mem√≥ria: 6.79Mb.

,Nome,Tipo,qnt_categorias,Dados nulos,Dados nulos %,Mem√≥ria (Mb)
1,product_id,str,32951,0,0.0,3.0
2,product_category_name,str,73,610,2.0,2.0
3,product_name_lenght,numpy.float64,66,610,2.0,0.0
4,product_description_lenght,numpy.float64,2960,610,2.0,0.0
5,product_photos_qty,numpy.float64,19,610,2.0,0.0
6,product_weight_g,numpy.float64,2204,2,0.0,0.0
7,product_length_cm,numpy.float64,99,2,0.0,0.0
8,product_height_cm,numpy.float64,102,2,0.0,0.0
9,product_width_cm,numpy.float64,95,2,0.0,0.0

Informa√ß√µes sobre ----- olist_sellers_dataset.csv -----
dfs[7]

Tabela Explorat√≥ria
Nesses dados temos 3.095 linhas e 4 colunas.
Consumo de mem√≥ria: 0.66Mb.

,Nome,Tipo,qnt_categorias,Dados nulos,Dados nulos %,Mem√≥ria (Mb)
1,seller_id,str,3095,0,0.0,0.0
2,seller_zip_code_prefix,numpy.int64,2246,0,0.0,0.0
3,seller_city,str,611,0,0.0,0.0
4,seller_state,str,23,0,0.0,0.0

Informa√ß√µes sobre ----- product_category_name_translation.csv -----
dfs[8]

Tabela Explorat√≥ria
Nesses dados temos 71 linhas e 2 colunas.
Consumo de mem√≥ria: 0.01Mb.

,Nome,Tipo,qnt_categorias,Dados nulos,Dados nulos %,Mem√≥ria (Mb)
1,product_category_name,str,71,0,0.0,0.0
2,product_category_name_english,str,71,0,0.0,0.0

### Reparando as colunas de data
Vamos converter valor_transacoes_12m e limite_credito para terem um tipo num√©rico, para que no futuro possamos fazer c√°lculos com esses n√∫meros

### Reparando as colunas de texto
Para cada coluna de nossos conjuntos de dados, transformaremos agora aquelas que s√£o do tipo `str` para `category`. Desta forma podemos economizar espa√ßo de mem√≥ria e ter melhor desempenho na execu√ß√£o do algoritmo

### Dados faltantes
Entre os conjuntos de dados que possuem dados nulos est√£o: `olist_order_reviews_dataset.csv -> (dfs[4])`; `olist_orders_dataset.csv -> (dfs[5])`;
`olist_products_dataset.csv -> (dfs[6])`. Agora vamos analis√°-los para entender melhor como s√£o e pensar em como remov√™-los.

Ent√£o, vou pegar aquelas linhas que t√™m dados vazios, fazer uma pequena an√°lise com o comando describe() e depois excluir essas linhas

In [54]:
lista_dfs_nulos = dfs[4:6]

---

# ...

### **`Perguntas`**

<ol type="1">
  <li>Carregamento dos dados e dos pacotes</li>
</ol>

Se quiser acessar as respostas dessas perguntas v√° para o pr√≥ximo projeto: [An√°lise completa]()

##

<p align="center">
  Enzo Schitini
</p>

<p align="center">
  Data Scientist ‚Ä¢ Expert Bubble.io ‚Ä¢ UX & UI @ Nugus creator
</p>