# An√°lise Explorat√≥ria
Aqui voc√™ ver√° todos os meus projetos de Data Science divididos em grupos com as habilidades necess√°rias para obter os melhores Insights.

<img src="https://raw.githubusercontent.com/enzoschitini/Data-Science-Portfolio/main/01%20An%C3%A1lise%20explorat%C3%B3ria%20e%20limpeza%20de%20dados/E-commerce%20Customer%20Data%20For%20Behavior%20Analysis/Image/Group%2055.png" alt="ebac-logo">

---

# **Scituffy** | Python: E-Commerce Customer Data For Behavior Analysis
Fiz uma an√°lise das vendas de um E-Commerce para entender melhor como s√£o seus clientes. Al√©m disso, ap√≥s a an√°lise, um modelo de aprendizado de m√°quina tamb√©m pode ser desenvolvido para prever se um cliente sair√° da plataforma.

**Dados** [Acessar](https://www.kaggle.com/datasets/shriyashjagtap/e-commerce-customer-for-behavior-analysis)

[Enzo Schitini](https://www.linkedin.com/in/enzoschitini/) - Data Scientist ‚Ä¢ Expert Bubble.io ‚Ä¢ UX & UI @ Nugus creator

---

## O que voc√™ vai encontrar neste notebook? üëã

### **An√°lise explorat√≥ria**
A ci√™ncia sempre me fascinou pelo fato de podermos descobrir coisas novas. E foi por essa vontade de fazer descobertas que me tornei Data Scientist, para resolver problemas reais e fazer as tais descobertas.

#### - *Contexto*
√â um conjunto de dados sint√©tico gerado usando a biblioteca Faker Python. Ele simula um ambiente completo de com√©rcio eletr√¥nico, capturando diversos aspectos do comportamento do cliente e do hist√≥rico de compras em um mercado digital. Este conjunto de dados foi projetado para an√°lise de dados e modelagem preditiva na √°rea de com√©rcio eletr√¥nico. √â adequado para tarefas como previs√£o de rotatividade de clientes, an√°lise de cesta de compras, sistemas de recomenda√ß√£o e an√°lise de tend√™ncias.

#### - *Sobre os dados*
√â um conjunto de dados sint√©tico gerado usando a biblioteca Faker Python. Ele simula um ambiente completo de com√©rcio eletr√¥nico, capturando diversos aspectos do comportamento do cliente e do hist√≥rico de compras em um mercado digital. Este conjunto de dados foi projetado para an√°lise de dados e modelagem preditiva na √°rea de com√©rcio eletr√¥nico. √â adequado para tarefas como previs√£o de rotatividade de clientes, an√°lise de cesta de compras, sistemas de recomenda√ß√£o e an√°lise de tend√™ncias.

- `Informa√ß√µes da coluna:`

| Coluna  | Descri√ß√£o |
| ------- | --------- |
| ID do cliente | Um identificador exclusivo para cada cliente. |
| Nome do cliente | O nome do cliente (gerado pelo Faker) |
| Idade do cliente | A idade do cliente (gerada pelo Faker) |
| G√™nero | O g√™nero do cliente (gerado por Faker)    |
| Data da compra | A data de cada compra feita pelo cliente |
| Categoria do produto | A categoria ou o tipo do produto adquirido |
| Pre√ßo do produto | O pre√ßo do produto adquirido |
| Quantidade | A quantidade do produto comprado |
| Valor total da compra | O valor total gasto pelo cliente em cada transa√ß√£o |
| M√©todo de pagamento | O m√©todo de pagamento usado pelo cliente (por exemplo, cart√£o de cr√©dito, PayPal) |
| Devolu√ß√µes | Se o cliente devolveu algum produto do pedido (bin√°rio: 0 para nenhuma devolu√ß√£o, 1 para devolu√ß√£o) |
| Churn | Uma coluna bin√°ria que indica se o cliente agitou (0 para retido, 1 para agitado) |

> Os dados foram fornecidos pelo [Kaggle](https://www.kaggle.com/datasets/shriyashjagtap/e-commerce-customer-for-behavior-analysis)

### **`T√≥picos`**

<ol type="1">
  <li>Carregamento dos dados e dos pacotes</li>
  <li>Entender a estrutura</li>
  <li>Tratamemto</li>
  <li>Atributos e colunas</li>
  <li>M√©tricas e visualiza√ß√£o</li>
</ol>

##### Abaixo voc√™ encontrar√° algumas informa√ß√µes descobertas por esses c√≥digos. Mas se quiser acessar o material completo, baixe o [PDF](https://drive.google.com/file/d/1fK1ocDTSzMpDhKy8jJ1yU3LN1Tm-gxcV/view?usp=drivesdk)

---

## 1.0 Carregamento dos dados e dos pacotes

In [42]:
import pandas as pd
from main import GuidaDataframe

In [43]:
df = pd.read_csv("Data\ecommerce_customer_data_large.csv")
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\e'
<>:1: SyntaxWarning: invalid escape sequence '\e'
C:\Users\ES\AppData\Local\Temp\ipykernel_2508\1235758737.py:1: SyntaxWarning: invalid escape sequence '\e'
  df = pd.read_csv("Data\ecommerce_customer_data_large.csv")

,Customer ID,Purchase Date,Product Category,Product Price,Quantity,Total Purchase Amount,Payment Method,Customer Age,Returns,Customer Name,Age,Gender,Churn
0,44605,2023-05-03 21:30:02,Home,177,1,2427,PayPal,31,1.0,John Rivera,31,Female,0
1,44605,2021-05-16 13:57:44,Electronics,174,3,2448,PayPal,31,1.0,John Rivera,31,Female,0
2,44605,2020-07-13 06:16:57,Books,413,1,2345,Credit Card,31,1.0,John Rivera,31,Female,0
3,44605,2023-01-17 13:14:36,Electronics,396,3,937,Cash,31,0.0,John Rivera,31,Female,0
4,44605,2021-05-01 11:29:27,Books,259,4,2598,PayPal,31,1.0,John Rivera,31,Female,0

### 1.1 Estrutura dos dados
Entender a estrutura dos dados significa saber quantas Linhas e Colunas existem, se h√° dados duplicados ou n√£o, o Nome das colunas, seu Tipo, sua quantidade de categorias, quantos dados nulos e a porcentagem deles.

- Linhas e colunas

In [44]:
linhas, colunas = df.shape
print(f'Temos {linhas} linhas e {colunas} colunas.')

Temos 250000 linhas e 13 colunas.

- Linhas duplicadas

In [45]:
df.drop_duplicates(inplace=True)

#### `Schema`
Agora vamos ver com mais detalhes como √© a estrutura da coluna

In [46]:
gd = GuidaDataframe(df)
gd.esplorazione()

Tabela Explorat√≥ria
Nesses dados temos 250.000 linhas e 13 colunas.
Consumo de mem√≥ria: 85.9Mb.

,Nome,Tipo,qnt_categorias,Dados nulos,Dados nulos %,Mem√≥ria (Mb)
1,Customer ID,numpy.int64,49661,0,0.0,2.0
2,Purchase Date,str,249728,0,0.0,16.0
3,Product Category,str,4,0,0.0,13.0
4,Product Price,numpy.int64,491,0,0.0,2.0
5,Quantity,numpy.int64,5,0,0.0,2.0
6,Total Purchase Amount,numpy.int64,5245,0,0.0,2.0
7,Payment Method,str,3,0,0.0,13.0
8,Customer Age,numpy.int64,53,0,0.0,2.0
9,Returns,numpy.float64,2,47382,19.0,2.0
10,Customer Name,str,39878,0,0.0,15.0
11,Age,numpy.int64,53,0,0.0,2.0
12,Gender,str,2,0,0.0,13.0
13,Churn,numpy.int64,2,0,0.0,2.0

## 1.2 Tratamendo dos dados

J√° entendemos que os dados apresentam problemas estruturais. S√£o elas: Colunas que pertencem ao tipo de dados errado e que h√° dados nulos

### Reparando as colunas
Vamos converter valor_transacoes_12m e limite_credito para terem um tipo num√©rico, para que no futuro possamos fazer c√°lculos com esses n√∫meros

- Colunas de data

In [47]:
df['Purchase Date'] = pd.to_datetime(df['Purchase Date'])

- Colunas categ√≥ricas

In [48]:
colunas_categoricas = df.select_dtypes('object').columns.to_list()

for coluna in colunas_categoricas:
    df[coluna] = df[coluna].astype('category')

### Dados faltantes

In [49]:
df.isnull().sum()

Customer ID                  0
Purchase Date                0
Product Category             0
Product Price                0
Quantity                     0
Total Purchase Amount        0
Payment Method               0
Customer Age                 0
Returns                  47382
Customer Name                0
Age                          0
Gender                       0
Churn                        0
dtype: int64

In [50]:
gd = GuidaDataframe(df)
gd.esplorazione()

Tabela Explorat√≥ria
Nesses dados temos 250.000 linhas e 13 colunas.
Consumo de mem√≥ria: 22.21Mb.

,Nome,Tipo,qnt_categorias,Dados nulos,Dados nulos %,Mem√≥ria (Mb)
1,Customer ID,numpy.int64,49661,0,0.0,2.0
2,Purchase Date,pandas._libs.tslibs.timestamps.Timestamp,249728,0,0.0,2.0
3,Product Category,str,4,0,0.0,0.0
4,Product Price,numpy.int64,491,0,0.0,2.0
5,Quantity,numpy.int64,5,0,0.0,2.0
6,Total Purchase Amount,numpy.int64,5245,0,0.0,2.0
7,Payment Method,str,3,0,0.0,0.0
8,Customer Age,numpy.int64,53,0,0.0,2.0
9,Returns,numpy.float64,2,47382,19.0,2.0
10,Customer Name,str,39878,0,0.0,4.0
11,Age,numpy.int64,53,0,0.0,2.0
12,Gender,str,2,0,0.0,0.0
13,Churn,numpy.int64,2,0,0.0,2.0

In [51]:
df.drop('Customer ID', axis=1).select_dtypes('number').describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Product Price,250000.0,254.742724,141.738104,10.0,132.0,255.0,377.0,500.0
Quantity,250000.0,3.004936,1.414737,1.0,2.0,3.0,4.0,5.0
Total Purchase Amount,250000.0,2725.385196,1442.576095,100.0,1476.0,2725.0,3975.0,5350.0
Customer Age,250000.0,43.798276,15.364915,18.0,30.0,44.0,57.0,70.0
Returns,202618.0,0.500824,0.500001,0.0,0.0,1.0,1.0,1.0
Age,250000.0,43.798276,15.364915,18.0,30.0,44.0,57.0,70.0
Churn,250000.0,0.200520,0.400390,0.0,0.0,0.0,0.0,1.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Customer ID            250000 non-null  int64
 1   Purchase Date          250000 non-null  datetime64[ns]
 2   Product Category       250000 non-null  category
 3   Product Price          250000 non-null  int64
 4   Quantity               250000 non-null  int64
 5   Total Purchase Amount  250000 non-null  int64
 6   Payment Method         250000 non-null  category
 7   Customer Age           250000 non-null  int64
 8   Returns                202618 non-null  float64
 9   Customer Name          250000 non-null  category
 10  Age                    250000 non-null  int64
 11  Gender                 250000 non-null  category
 12  Churn                  250000 non-null  int64
dtypes: category(4), datetime64[ns](1), float64(1), int64(7)
memory usage: 20.1 MB